<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartrecord.mapper.ScoreImageMapper">

    <insert id="insertBatch">
        INSERT INTO score_image (id, room_id, user_id, image_url, sort_order, created_at)
        VALUES
        <foreach collection="list" item="img" separator=",">
            (#{img.id}, #{img.roomId}, #{img.userId}, #{img.imageUrl}, #{img.sortOrder}, #{img.createdAt})
        </foreach>
    </insert>

</mapper>
