<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mahjong.score.mapper.SessionEventLogMapper">

    <update id="batchDeleteExpired">
        DELETE FROM session_event_log
        WHERE created_at &lt; #{cutoff}
        LIMIT #{limit}
    </update>

</mapper>
